:root
    --backColor: rgb(211, 211, 211)
    --color: rgb(0, 0, 0)
    --border-bottom: 3px solid rgb(0, 0, 0)
    --bgHovercolor: rgb(194, 194, 194)
    --Hovercolor: white
    --backColor-inv: rgb(6, 0, 34)
    --color-inv: white
    --shadow-color: 0 4px 8px rgba(0,0,0,0.25)
    --primary-color: #00b4db
    --secondary-color: #0083b0
    --dark-purple: #4b0082
    --text-color: #333
    --light-gray: #ddd

.dark
    --backColor: rgb(6, 0, 34)
    --color: white
    --border-bottom: 3px solid rgb(255, 255, 255)
    --bgHovercolor: rgb(44, 37, 61)
    --backColor-inv: rgb(211, 211, 211)
    // --color-inv: rgb(0, 0, 0)
    --shadow-color: 0 4px 8px rgba(255, 255, 255, 0.712)



body
    font-family: Arial, sans-serif
    margin: 0
